@model Hammurabi.Models.Meal

@{
    ViewData["Title"] = "Career";
}

<h2>Career</h2>

<p>Do you want work for us? We are looking for people who will join to our stuff: restaurant manager,
     assistant restaurant manager and waitress</p>
<p> Contact personally or call 111-111-111 
</p>
<div>
    <a asp-action="Index">Back to mainpage</a>
</div>

