@{
    ViewData["Title"] = "Delivery";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="col-md-12 col-lg-12">
    <div id="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1be9lzmUbfnGHCx9tCST6JLDn6Pc" width="640" height="480"></iframe>
    </div>

</div>


<p>Use this area to provide additional information.</p>
