@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
     @*Background is added for all sites in _layout shared cshtml file. Here we unable this bacgrodund and display none*@
      background: none;
    }
</style>

<div style="color:white;
      background: url('@Url.Content("~/images/meal1200x200.jpg")');";
      class="jumbotron">
    <h1>Hammurabi Restaurant</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Welcome to Hammurabi Restaurant</h2>
        <p>
            Contoso University is orient restaurant placed in your City.
            I assure you that you will love our food.
            We offer the best pizza in Poland.

        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact:</h2>

        <address>
            <strong>Hammurabi, Inc.</strong><br>
            49 Street, Suite 900<br>
            Warsaw, CA 94103<br>
            <abbr title="Phone">Phone:</abbr> 123-123-123<br>
            <a href="mailto:#">first.last@example.com</a>
        </address>
    </div>
</div>